.brand {
    padding: auto;
   box-shadow: 0px 0px 3px rgb(138, 136, 136);
   height: 28vh;
   border-top: 2px solid rgb(104, 104, 255);
   overflow: hidden !important ;
}
.marquee {
    overflow: hidden;
}
.brand h3 {
    font-weight: 600 !important;
}
.brand img {
    width: 150px;
    padding-top:0;
    padding-right: 4.5rem;
    transform: scale(1.2);
}
@media(max-width: 992px){
    .brand {
        height: 22vh;
    }
}
